{% extends 'main.html' %} 
{% load static%}

{% block title %}
    <title>Trade Hub</title>
{% endblock title %}

{% block content %}

<div class="container" id="trade-hub-container">
	<div class="tradehub-headline">
		<h1>
			<i class="fa-solid fa-arrows-rotate green-text"></i> Trades
		</h1>

        <div>
            <a href="{% url 'create-trade-offer' %}" role="button">New Trade Offer</a>
        </div>
	</div>
	{% for trade in trades %}
		<details open>
			<summary>
				<div class="trade-summary-div">
					<div><span class="green-text">{{trade.creator.username}}</span> offer</div>
				</div>
			</summary>
			<div class="trade-offer-block">
				<div class="offer-left">
					<table>
						<tbody>
							{% for tradeitem in trade.tradeitem_set.all %}
								{% if tradeitem.user == trade.creator %}
									<tr>
										<th scope="row">
											<img
												src="{% static tradeitem.user_item.item.image.url %}"
												alt=""
												class="offer-small-img"
												style="border-color: {{ tradeitem.user_item.item.quality.color_hex }}"
											/>
										</th>
										<td>
											<div>
												<strong>{% if tradeitem.user_item.item.stattrak %} StatTrak™ {% endif %}{{ tradeitem.user_item.item.name }}</strong>
												<p>
													<small> {{tradeitem.user_item.item.exterior.name}} </small>
												</p>
											</div>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div>
					<i class="fa-solid fa-right-left green-text"></i>
				</div>
				<div class="offer-right">
					<table>
						<tbody>
							{% for tradeitem in trade.tradeitem_set.all %}
								{% if tradeitem.user == None %}
									<tr>
										<th scope="row">
											<img
												src="{% static tradeitem.item.image.url %}"
												alt=""
												class="offer-small-img"
												style="border-color: {{ tradeitem.item.quality.color_hex }}"
											/>
										</th>
										<td>
											<div>
												<strong>{% if tradeitem.item.stattrak %} StatTrak™ {% endif %}{{ tradeitem.item.name }}</strong>
												<p>
													<small> {{tradeitem.item.exterior.name}} </small>
												</p>
											</div>
										</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
			<div class="offer-actions">
				{% if guarantor %}
					{% if trade.second_party %}
						<a href="{% url 'accept-trade' trade.id %}" role="button" class="outline">Accept</a>
					{% endif %}
					<a href="{% url 'cancel-trade' trade.id %}" role="button" class="contrast outline">Decline</a>
				{% elif request.user.is_authenticated %}
					{% if trade.creator != request.user.profile %}
						<a href="{% url 'accept-trade' trade.id %}" role="button" class="outline">Trade</a>
					{% endif %}
					{% if trade.creator == request.user.profile or trade.second_party == request.user.profile %}
						<a href="{% url 'cancel-trade' trade.id %}" role="button" class="contrast outline">Cancel</a>
					{% endif %}
					{% endif %}
			</div>
		</details>
	{% endfor %}

	{% endblock content %}
</div>
