{% extends 'main.html' %} {% load static %} 

{% block title %}
    <title>Trade Offer</title>
{% endblock title %}


{% block content %}

<div class="container-fluid">
	<form method="POST">
		{% csrf_token %}

		<div class="create-trade-offer-block">
			<div class="create-offer-left create-offer-blocks">
				<div class="items-div">
					<div class="user-inventory-actions">
						<a href="{% url 'update-inventory' %}?next={% url 'create-trade-offer' %}" role="button" class="outline refresh-inv-btn">
							<i class="fa-solid fa-arrows-rotate"></i>
						</a>
					</div>
					<table>
						<tbody>
							{% for user_item in user_items %}
									{% if forloop.counter|divisibleby:"7" %} <tr> {%endif %}
									<td scope="row">
										<div data-tooltip="{% if user_item.item.stattrak %} StatTrak™ {% endif %}{{ user_item.item.name }} ({{user_item.item.exterior.name}})" data-placement="{% if forloop.counter|divisibleby:'7' or forloop.first%}right{% elif forloop.counter|divisibleby:'6' %}left{% else %}bottom{% endif %}" >
										<input type="checkbox" id="{{user_item.id}}" name="user_items" value="{{user_item.id}}" class="item-checkbox"/>
										<label for="{{user_item.id}}">
											<img
												src="{{ user_item.item.image.url }}"
												alt=""
												class="offer-middle-img"
												style="border-color: {{ user_item.item.quality.color_hex }}"
											/>
										</label>
									</td>
									{% if forloop.counter|divisibleby:"6" %} </tr> {%endif %}
								{% endfor %}
								{% for _ in additional_blocks_user_items %}
									<td scope="row">
										<img
											src="{% static 'images/items/empty_trade_slot.png' %}"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(71, 71, 71)"
										/>
									</td>
								{% endfor %}

							{% if additional_blocks_items and forloop.counter|divisibleby:"6" %} </tr> {%endif %}

						</tbody>
					</table>
				</div>
			</div>
			<div class="create-offer-actions">
				<button type="submit" class="outline">
					<i class="fa-solid fa-right-left green-text"> OFFER</i>
				</button>
			</div>
			<div class="create-offer-right create-offer-blocks">
				<div class="items-div">
					<table>
						<tbody>
							{% for item in items %}
								{% if forloop.counter|divisibleby:"7" %} <tr> {% endif %}
								<td scope="row">
									<div data-tooltip="{% if item.stattrak %} StatTrak™ {% endif %}{{ item.name }} ({{item.exterior.name}})" data-placement="{% if forloop.counter|divisibleby:'7' or forloop.first%}right{% elif forloop.counter|divisibleby:'6' %}left{% else %}bottom{% endif %}" >
									<input type="checkbox" id="{{item.id}}" name="second_party_items" value="{{item.id}}" class="item-checkbox"/>
									<label for="{{item.id}}">
										<img
											src="{{ item.image.url }}"
											alt=""
											class="offer-middle-img"
											style="border-color: {{ item.quality.color_hex }}"
										/>
									</label>
								</td>
								{% if forloop.counter|divisibleby:"6" %} </tr> {%endif %}
							{% endfor %}
							{% for _ in additional_blocks_items %}
								<td scope="row">
									<img
										src="{% static 'images/items/empty_trade_slot.png' %}"
										alt=""
										class="offer-middle-img"
										style="border-color: rgb(71, 71, 71)"
									/>
								</td>
							{% endfor %}

							{% if additional_blocks_items and forloop.counter|divisibleby:"6" %} </tr> {%endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock content %}
