{% extends 'main.html' %} {% load static %} 

{% block title %}
    <title>Trade Offer</title>
{% endblock title %}


{% block content %}

<div class="container-fluid">
	<form method="POST">
		{% csrf_token %}

		<div class="create-trade-offer-block">
			<div class="create-offer-left create-offer-blocks">
				<div class="items-div">
          <div class="user-inventory-actions">
            <h1>INVENTORY</h1>
						<a href="{% url 'update-inventory' %}?next={% url 'create-trade-offer' %}" role="button" class="outline refresh-inv-btn">
							<i class="fa-solid fa-arrows-rotate"></i>
						</a>
					</div>

          <div class="trade-items">
            {% for user_item in user_items %}
            <div data-tooltip="{% if user_item.item.stattrak %} StatTrak™ {% endif %}{{ user_item.item.name }} ({{user_item.item.exterior.name}})" 
                data-placement="right" >
              <input type="checkbox" id="{{user_item.id}}" name="user_items" value="{{user_item.id}}" class="item-checkbox"/>
                  <label for="{{user_item.id}}">
                    <img
                      src="{% static user_item.item.image.url %}"
                      alt=""
                      class="offer-middle-img"
                      style="border-color: {{ user_item.item.quality.color_hex }}"
                    />
                  </label>
                </div>
              {% endfor %}
          </div>
        </div>
			</div>
			<div class="create-offer-actions">
				<button type="submit" class="outline">
					<i class="fa-solid fa-right-left green-text"> </i> OFFER
				</button>
			</div>
			<div class="create-offer-right create-offer-blocks">
				<div class="items-div">
          <div class="trade-items">
            {% for item in items %}
              <div data-tooltip="{% if item.stattrak %} StatTrak™ {% endif %}{{ item.name }} ({{item.exterior.name}})" 
              data-placement="left" >
                <input type="checkbox" id="{{item.id}}" name="second_party_items" value="{{item.id}}" class="item-checkbox"/>
                <label for="{{item.id}}">
                  <img
                    src="{% static item.image.url %}"
                    alt=""
                    class="offer-middle-img"
                    style="border-color: {{ item.quality.color_hex }}"
                  />
                </label>
              </div>
              {% endfor %}
          </div>
				</div>
			</div>
		</div>
	</form>
</div>

{% endblock content %}
