{% extends 'main.html' %}

{% block title %}
    <title>History</title>
{% endblock title %}


{% block content %}
<main class="container">
    <h1>History</h1>

    <div>
        <article class="">
                <details>
                    <summary>
                        <div class="trade-summary-div">
                            <div><span class="green-text">Player 1</span> offer: qwedw23213asdasdew (Success)</div>
                        </div>
                    </summary>
                    <div class="trade-offer-block">
                        <div class="offer-left">
                            <table>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <img
                                                src="https://picsum.photos/100/100"
                                                alt=""
                                                class="offer-small-img"
                                                style="border-color: rgb(235, 75, 75)"
                                            />
                                        </th>
                                        <td>
                                            <div>
                                                <strong>AWP | Containment Breach</strong>
                                                <p>
                                                    <small> Field-Tested </small>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <img
                                                src="https://picsum.photos/100/100"
                                                alt=""
                                                class="offer-small-img"
                                                style="border-color: rgb(75, 105, 255)"
                                            />
                                        </th>
                                        <td>
                                            <div>
                                                <strong
                                                    >StatTrak™ AWP | Containment Breach
                                                    dasdasdafds fdsfsdfdadda</strong
                                                >
                                                <p>
                                                    <small> Field-Tested </small>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th scope="col"></th>
                                        <td scope="col">
                                            <span class="green-text">Total:</span>
                                            <u>45.39$</u>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div>
                            <i class="fa-solid fa-right-left green-text"></i>
                        </div>
                        <div class="offer-right">
                            <table>
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            <img
                                                src="https://picsum.photos/100/100"
                                                alt=""
                                                class="offer-small-img"
                                            />
                                        </th>
                                        <td>
                                            <div>
                                                <strong
                                                    >StatTrak™ AWP | Containment
                                                    Breach</strong
                                                >
                                                <p>
                                                    <small> Field-Tested </small>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th scope="col"></th>
                                        <td scope="col">
                                            <span class="green-text">Total:</span>
                                            <u>38.42$</u>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </details>
            
        </article>
    </div>
</main>

{% endblock content %}