{% extends 'main.html' %} {% load static %} 

{% block title %}
    <title>Trade Offer</title>
{% endblock title %}


{% block content %}

<div class="container-fluid">
	<form action="">

	<div class="create-trade-offer-block">

		<div class="create-offer-left create-offer-blocks">
			<div class="items-div">
                <div class="user-inventory-actions">
			        <a href="#" role="button" class="outline refresh-inv-btn">
                        <i class="fa-solid fa-arrows-rotate"></i>
                    </a>
                </div>
                <table>
					<tbody>
						<tr>
							<td scope="row">
								<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="right" >
								<input type="checkbox" id="cb1" name="second-party"/>
								<label for="cb1">
									<img
										src="https://picsum.photos/100/100"
										alt=""
										class="offer-middle-img"
										style="border-color: rgb(235, 75, 75)"
									/>
								</label>
								
							</td>
							<td scope="row">
								<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
								<input type="checkbox" id="cb2" name="second-party"/>
								<label for="cb2">
									<img
										src="https://picsum.photos/100/100"
										alt=""
										class="offer-middle-img"
										style="border-color: rgb(235, 75, 75)"
									/>
								</label>
							</td>
							<td scope="row">
								<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
								<input type="checkbox" id="cb3" name="second-party"/>
								<label for="cb3">
									<img
										src="https://picsum.photos/100/100"
										alt=""
										class="offer-middle-img"
										style="border-color: rgb(235, 75, 75)"
									/>
								</label>
								
							</td>

							<td scope="row">
								<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
								<input type="checkbox" id="cb4" name="second-party"/>
								<label for="cb4">
									<img
										src="https://picsum.photos/100/100"
										alt=""
										class="offer-middle-img"
										style="border-color: rgb(235, 75, 75)"
									/>
								</label>
							</td>
							<td scope="row" >
								<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
								<input type="checkbox" id="cb5" name="second-party"/>
								<label for="cb5" >
									<img
										src="https://picsum.photos/100/100"
										alt=""
										class="offer-middle-img"
										style="border-color: rgb(235, 75, 75)"
									/>
								</label>
							</div>

							</td>
							<td scope="row">
								<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="left" >

								<input type="checkbox" id="cb6" name="second-party"/>
								<label for="cb6">
									<img
										src="https://picsum.photos/100/100"
										alt=""
										class="offer-middle-img"
										style="border-color: rgb(235, 75, 75)"
									/>

								</label>
							</td>
						</tr>
						<tr>
							<td scope="row">
								<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="right" >
								<input type="checkbox" id="cb1" name="second-party"/>
								<label for="cb1">
									<img
										src="https://picsum.photos/100/100"
										alt=""
										class="offer-middle-img"
										style="border-color: rgb(235, 75, 75)"
									/>
								</label>
								
							</td>
							<td scope="row">
								<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
								<input type="checkbox" id="cb2" name="second-party"/>
								<label for="cb2">
									<img
										src="https://picsum.photos/100/100"
										alt=""
										class="offer-middle-img"
										style="border-color: rgb(235, 75, 75)"
									/>
								</label>
							</td>
							<td scope="row">
								<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
								<input type="checkbox" id="cb3" name="second-party"/>
								<label for="cb3">
									<img
										src="https://picsum.photos/100/100"
										alt=""
										class="offer-middle-img"
										style="border-color: rgb(235, 75, 75)"
									/>
								</label>
								
							</td>

							<td scope="row">
								<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
								<input type="checkbox" id="cb4" name="second-party"/>
								<label for="cb4">
									<img
										src="https://picsum.photos/100/100"
										alt=""
										class="offer-middle-img"
										style="border-color: rgb(235, 75, 75)"
									/>
								</label>
							</td>
							<td scope="row">
								<img
									src="{% static 'images/empty_trade_slot.png' %}"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(71, 71, 71)"
								/>
							</td>
							<td scope="row">
								<img
									src="{% static 'images/empty_trade_slot.png' %}"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(71, 71, 71)"
								/>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="create-offer-actions">
			<a href="#" role="button" class="outline">
				<i class="fa-solid fa-right-left green-text"> OFFER</i>
			</a>
		</div>
		<div class="create-offer-right create-offer-blocks">
			<div class="items-div">
					<table>
						<tbody>
							<tr>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="right" >
									<input type="checkbox" id="cb1" name="second-party"/>
									<label for="cb1">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
									
								</td>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb2" name="second-party"/>
									<label for="cb2">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
								</td>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb3" name="second-party"/>
									<label for="cb3">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
									
								</td>
	
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb4" name="second-party"/>
									<label for="cb4">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
								</td>
								<td scope="row" >
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb5" name="second-party"/>
									<label for="cb5" >
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
								</div>

								</td>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="left" >

									<input type="checkbox" id="cb6" name="second-party"/>
									<label for="cb6">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>

									</label>
								</td>
							</tr><tr>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="right" >
									<input type="checkbox" id="cb1" name="second-party"/>
									<label for="cb1">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
									
								</td>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb2" name="second-party"/>
									<label for="cb2">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
								</td>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb3" name="second-party"/>
									<label for="cb3">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
									
								</td>
	
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb4" name="second-party"/>
									<label for="cb4">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
								</td>
								<td scope="row" >
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb5" name="second-party"/>
									<label for="cb5" >
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
								</div>

								</td>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="left" >

									<input type="checkbox" id="cb6" name="second-party"/>
									<label for="cb6">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>

									</label>
								</td>
							</tr><tr>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="right" >
									<input type="checkbox" id="cb1" name="second-party"/>
									<label for="cb1">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
									
								</td>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb2" name="second-party"/>
									<label for="cb2">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
								</td>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb3" name="second-party"/>
									<label for="cb3">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
									
								</td>
	
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb4" name="second-party"/>
									<label for="cb4">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
								</td>
								<td scope="row" >
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="bottom" >
									<input type="checkbox" id="cb5" name="second-party"/>
									<label for="cb5" >
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>
									</label>
								</div>

								</td>
								<td scope="row">
									<div data-tooltip="AWP | Containment Breach (Field-Tested)" data-placement="left" >

									<input type="checkbox" id="cb6" name="second-party"/>
									<label for="cb6">
										<img
											src="https://picsum.photos/100/100"
											alt=""
											class="offer-middle-img"
											style="border-color: rgb(235, 75, 75)"
										/>

									</label>
								</td>
							</tr>
						</tbody>
					</table>



				<!-- <table>
					<tbody>
						<tr>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>

							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
						</tr>
						<tr>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>

							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
						</tr>
						<tr>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>

							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
						</tr>
						<tr>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>

							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
						</tr>
						<tr>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>

							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
						</tr>
						<tr>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>

							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
						</tr>
						<tr>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>

							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
						</tr>
						<tr>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>

							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
						</tr>
						<tr>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>

							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
							<td scope="row">
								<img
									src="https://picsum.photos/100/100"
									alt=""
									class="offer-middle-img"
									style="border-color: rgb(235, 75, 75)"
								/>
							</td>
						</tr>
					</tbody>
				</table> -->
			</div>
		</div>


	</div>
</form>

</div>

{% endblock content %}
